PORT = #Port 3000;
MONGODB_USER = #MongoDb User
MONGODB_PASSWORD = #MongoDb Password
MONGODB_URL = #MongoDb Url
MONGODB_DB = #MongoDb Db
JMT_SECRET = # Secret cod jwt

APP_DOMAIN = http://localhost:3000/auth
SMTP_HOST = smtp-relay.brevo.com
SMTP_PORT = 587
SMTP_USER = 81e9ca001@smtp-brevo.com
SMTP_PASSWORD = xsmtpsib-d4dc52a0c5ba22cede7c6b54c9f217c699214f0e7c7fa7411e853fd8651e356d-I7H3rp0ECWFX8Pds